# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store

#FM data
*.nc
*.ckpt
*.zip
*.npz
.idea
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
/venv/
/qefm/models/checkpoints/
/qefm/models/src/fcn/
/qefm/models/src/FMGraphCast/._statement_12_31_2022.pdf
/qefm/models/src/FMGraphCast/statement_12_31_2022.pdf
/qefm/models/src/FMGraphCast/2023-01-01-surface-level.nc
/qefm/models/src/FMGraphCast/._stats_stddev_by_level.nc
/qefm/models/src/FMGraphCast/graphcast-predict.tar
/qefm/models/src/FMGraphCast/2023-01-01-atmospheric.nc
/qefm/models/src/FMGraphCast/._params_GraphCast_small - ERA5 1979-2015 - resolution 1.0 - pressure levels 13 - mesh 2to5 - precipitation input and output.npz
/qefm/models/src/FMGraphCast/._stats_mean_by_level.nc
/qefm/models/src/FMGraphCast/static.nc
/qefm/models/src/FMGraphCast/._stats_diffs_stddev_by_level.nc
/qefm/models/src/FMPangu/pangu.tar
/qefm/models/src/FMPangu/pangu/
/qefm/models/src/FMPangu/Pangu-Weather-pytorch/input_data/
/qefm/models/src/FMPangu/Pangu-Weather-pytorch/output_data/
/qefm/models/src/FMPangu/Pangu-Weather-pytorch/output_data_20241127/
/qefm/models/src/FMPangu/Pangu-Weather-pytorch/output_data_20241229/
/qefm/models/src/FMPangu/Pangu-Weather-pytorch/pangu_weather_6.onnx
/qefm/models/src/FMPangu/Pangu-Weather-pytorch/pangu_weather_24.onnx
/containers/

/qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/
/qefm/models/src/FMSfno/torch-harmonics/examples/wandb/

qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_0.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_1.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_2.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_3.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_4.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_5.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_6.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_7.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_8.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_9.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_10.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_11.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_12.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_13.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_14.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_15.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_16.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_17.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_18.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_19.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_20.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_21.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_22.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_23.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_24.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_25.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_26.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_27.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_28.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_29.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/powerspectrum_30.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_1.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_2.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_3.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_4.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_5.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_6.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_7.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_8.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_9.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_10.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_11.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_12.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_13.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_14.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_15.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_16.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_17.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_18.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_19.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_20.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_21.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_22.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_23.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_24.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_25.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_26.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_27.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_28.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_29.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/pred_30.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_1.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_2.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_3.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_4.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_5.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_6.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_7.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_8.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_9.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_10.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_11.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_12.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_13.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_14.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_15.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_16.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_17.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_18.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_19.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_20.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_21.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_22.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_23.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_24.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_25.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_26.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_27.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_28.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_29.png
qefm/models/src/FMSfno/torch-harmonics/examples/checkpoints/sfno_sc2_layers4_e32/figures/truth_30.png
